
{port_env,
 [
  {"darwin", "LDFLAGS", "/usr/lib/libslang.a -fpic -lslang -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"linux",  "LDFLAGS", "/usr/lib/libslang_pic.a -fpic -lslang $ERL_LDFLAGS"}]}.

{port_specs, [{"priv/eslang_drv.so", ["c_src/*.c"]}]}.

{pre_hooks,[{compile,"make -C c_src"},
            {clean,  "make -C c_src clean"}]}.
